body {
    background-color: #076b25;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3A4042;
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
}

h1 {
    color: white;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 2px 10px;
    text-decoration: none;
    margin-right: 30px;
}

a:hover {
    background-color: #076b25;
}

a::before {
    content: "";
    background-color: #098a30;
    width: 10px;
    height: 10px;
    margin: 10px;
}