.action-button {
    text-align: center;
    display: inline-block;
    background-color: #098a30;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0px;
    transition: transform 100ms linear;
    font-size: 20px;
    font-family:inherit;
    text-decoration: none;
    color: #FFF;
}

.action-button:hover {
    background-color: #0f9437;
    color: #dbd7d7;
    transform: scale(1.08);
}