.action {
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 2px 10px;
    text-decoration: none;
    margin-right: 30px;
}

.action:hover {
    background-color: #076b25;
}

.action::before {
    content: "";
    background-color: #098a30;
    width: 10px;
    height: 10px;
    margin: 10px;
}
